@import url("./global.css");

.container {
  width: 70vw;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 2rem;
  background-color: var(--bg-color);
  padding: 24px;
  height: calc(100vh - 4rem);
}
