.listContainer {
  display: flex;
  justify-content: flex-end;
}

.listContainer > li {
  list-style-type: none;
  padding: 12px;
  cursor: pointer;
}

.listContainer > li > a {
  text-decoration: none;
}
